.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
gradlew
gradle
gradlew.bat
docs/

**/application_dev.properties
**/application_local.properties
**/application_prod.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### MacOS ###
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/